.home_component {
  width: 100vw;
  margin-top: 8rem;
  text-align: center;

  .home_image_component {
    width: 100vw;
    height: 35vh;
    box-shadow: 5rem -2.5rem var(--primary-color);
    position: relative;
    right: 3.5rem;
  }

  .home_details_component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;

    .detail_header {
      width: 80vw;
      line-height: 9vw;
      font-size: 8vw;
    }

    .details {
      color: var(--secondary-font-color-1);
      width: 60vw;
    }
  }
}
