.card_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 75vw;
  border: 1px solid #faf1f1;
  box-shadow: 0 3px 10px var(--primary-color);
  border-radius: 5px;
  border-bottom: 4px solid var(--secondary-color);
  padding: 4rem 2rem;
  margin: 2rem;

  h2 {
    font-size: 7vw;
  }

  p {
    color: var(--secondary-font-color-1);
    padding: 0 2rem;
  }
  
}
