.card-container {
  

  .card_image {
    width: 2rem;
  }
}

/* 
width: 100px;
  height: 200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 1px solid;
  border-radius: 15px;
  box-shadow: 2rem 2rem var(--secondary-font-color_1);
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
  border-bottom: 4px solid var(--secondary-color);
  text-align: center;

  */